
<div id='Login_box'>

    <%= form_tag '/home/login' do %>
        <div id="user_box" class="login">
          <%= text_field_tag :name %> 
        </div>
        <div id="password_box">
          <%= password_field_tag :password %>
        </div>

        <button id="btn_login" class="btn" >Login</button>
    <% end %>
        

        
        <%= form_tag "/users/new" do %>
          <%= hidden_field_tag '_method', 'get' %>
          <button id="btn_new" class="btn" >New Account</button>
        <% end %>
        <!-- </div> -->


</div>


