

<%= form_tag "/home/#{@image.id}", :class => "img_edit" do %>
  <%= hidden_field_tag '_method', 'put' %>
  <%= label_tag 'Name:'%>
  <%= text_field_tag :name, @image.name %>
  <%= label_tag 'URL:' %>
  <%= text_field_tag :url, @image.url %>
  <button class="btn_general" >update</button>
<% end %>

<%= form_tag "/home/#{@image.id}/delete" do %>
  <%= hidden_field_tag '_method', 'delete' %>
  <button class="btn_general" >delete</button>
<% end %>

<img src="<%= @image.url %>" >