

<div class="container">
  
  <!-- 1st Layer of rows-->
  <div class="row">
      
      <!-- 1st Layer of rows 60% part-->
      <div class="col-md-8">
    
          <!-- 1st Layer of rows-->
          <div class="row">
              <% @pics.each do |p| %>
                <div class="col-md-4 pictures">
                  <a class="pic_a" href="/home/<%= p.id%>/edit">
                    <p class="pic_name"><%= p.name %></p>
                    <img class="pic_img" src="<%= p.url %>">
                  </a>
                </div>
              <% end %>
          </div>
    
      </div>
      
      <!-- 1st Layer of rows 30% part-->
      <div class="col-md-4">
          <a href ="users/<%= current_user.id %>/ ">
          <%= current_user.name %>
          </a>
            <% @userpics.each do |u| %>
                <div class="col-md-4 pictures">
                  <a class="pic_a" href="/home/<%= u.id%>/edit">
                    <p class="pic_name"><%= u.name %></p>
                    <img class="pic_img" src="<%= u.url %>">
                  </a>
            </div>
          <% end %>

      </div>
  </div>

</div>






