<!-- Main page once user is logged in -->

<!-- ======= News Feed side of the page ======= -->

<div class="container">
  
  <!-- 1st Layer of rows-->
  <div class="row">
      
      <!-- 1st Layer of rows 60% part-->
      <div class="col-md-8">
    
          <!-- 1st Layer of rows-->
          <div class="row">
              <!-- loop through all pictures -->
              <% @pics.each do |p| %>
                <div class="col-md-4 pictures">
                  <a class="pic_a" href="/home/<%= p.id%>/show">
                    <p class="pic_name"><%= p.name %></p>
                    <img class="pic_img" src="<%= p.url %>">
                  </a>
                </div>
              <% end %>
          </div>
    
      </div>
      
<!-- ======= Profile side of the page ======= -->

      <!-- 1st Layer of rows 30% part-->
      <div class="col-md-4">
            <div id="profile_box">
              <!-- User name -->
              <a id="profile_title" href ="users/<%= current_user.id %>/ ">
                <%= current_user.name %>
              </a>
                <!-- Miniateur of a Users images -loop -->
                <% @userpics.each do |u| %>
                        <div class="profile_pic">
                          <a href="/home/<%= u.id%>/edit">
                            <img class="profile_img" src="<%= u.url %>">
                          </a>
                        </div>

              <% end %>
            </div>
      </div>
  </div>

</div>






